.boards {
    height: 100%;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/409912d2e941ab425f837d47d7d29b9e/photo-1666718350701-ddd15ae61a7b.jpg");
    background-size: cover;
}

.board {
    padding-left: 16px;
    background-color: #0000003d;    
    background:linear-gradient(to bottom,
    rgba(81, 81, 81, 0.832),
    rgba(109, 109, 109, 0.257),
    rgba(212, 212, 212, 0.041))
}

.board-content {
    white-space: nowrap;
}

h1 {
   padding: 0 0 0 30px; 
   color: white;
}

.add-list {
    display: inline-block;
    background-color: #ffffff3d;
    border-radius: 3px;
    min-height: 32px;
    width: 272px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    //same for text vertical centering
    height: 40px;
    line-height: 40px;
    &:hover {
        background-color: #ffffff82;
        cursor: pointer;
    }
}

.fa-plus {
     margin: 0 5px 0 0;
}

.board-h1 {
    color: #000;
}

.inp-board-title {
    display:none;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.18);
    font-size: 30px;
}

