.boards-header {
    display: flex;
    padding: 15px 0 0 16px;
}

.boards-header-item {
    background-color: #091e420a;
    border-radius: 5px;
    display: flex;
    padding: 10px 12px 10px 12px;
    cursor: pointer;
}

.icon-boards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.your-boards {
    padding: 0 0 3px 10px;
    font-weight: 600;
}

.fa-table {
    padding: 7px 10px 0 6px;
}

.all-boards {
    display: flex;
    flex-wrap: wrap;
}

.add-board {
    height: 100px;
    width: 170px;
    background-color: #00000018;
    border-radius: 5px;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.add-board-new-board {
    font-weight: 600;

}

.icon-plus {
    font-size: 20px;
    padding: 0 5px 0 0;
}