.list {
    box-sizing: border-box;
   // display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
}

.list-title {
    padding: 8px 10px;
}

h2 {
    margin: 0 0 8px;
}

.list-header {
    display: flex;
    justify-content: space-between
}

.list-menu {
    color: black;
    font-size: 21px;
    padding: 0px 7px 0 0;
}

.list-menu .fa-solid {
    color: black;
    font-size: 18px;
    font-stretch: ultra-expanded;
}

.list-card {
    list-style: none;
    padding: 0 0 5px 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
    margin: 8px;
}

.add-card {
    display: flex;
    //same for text vertical centering
    height: 40px;
    line-height: 40px;
    margin: 8px;
    list-style-type: none;
    padding: 0 0 0 10px;
    color: rgb(108, 108, 108);
    border-radius: 5px;

    &:hover {
        background-color: rgb(164, 164, 164);
        color: rgb(61, 61, 61)
    }

}

.list-actions {
    color: rgb(61, 61, 61);
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240,0 0 0 1px #091e4214;
    // display: none;
    // overflow: hidden;
    // position: absolute;
    // right: -9999px;
    // top: -9999px;
    //-webkit-transform: translateZ(0);
    width: 255px;
    padding:5px;
    // position: absolute;
    // top: 54px;
}

.list-actions-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px 3px 0 0;
}

.list-actions-title {
    padding: 0 0 0 9px;
    font-weight: 400;
    font-size: 19px;
}