.slot {
    border: 1px solid red;
}

.slot {
    border-radius: 3px;
    min-height: 30px;
    background-color: lightgray;
   // width: 100%;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2509803922);
    margin: 8px;
   // padding:0 10px;
}

.single-slot {
  border-radius: 3px;
  min-height: 30px;
  background-color: lightgray;
 // width: 100%;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2509803922);
  margin: 8px;
 // padding:0 10px;
}